body {



    background: pink;
}

.is-hidden {
    display: none;
}

.image {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}

.black-square {
    width: 50px;
    height: 50px;
    background-color: black;
}

.is-hidden {
    display: none;
}

.btn:hover {
    background-color: brown;
}


.usernames {
    padding-inline-start: 0%;

}


.usernames li {
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border: 2px dashed tomato;
    text-transform: uppercase;
    width: 60px;
    text-align: center;
    list-style-type: none;

}

.usernames li:not(:last-child) {
    margin-bottom: 12px;
}

.accent {
    color: tomato;
    text-decoration: underline;
}

body {
    padding: 16px;
}

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-item {
    padding: 8px;
    border-width: 2px;
    border-style: dashed;
}

.list-item:nth-child(even) {
    border-color: tomato;
}

.list-item:nth-child(odd) {
    border-color: blueviolet;
}

.list-item:not(:last-child) {
    margin-bottom: 8px;
}


/* insertAdjacentHTML() */



body {
    padding: 16px;
}

.article {
    max-width: 320px;
}

.article-text {
    color: tomato;
}


body {
    padding: 16px;
}

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-width: 2px;
    border-style: dotted;
}

.list-item.new::before {
    content: "";
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: green;
}

.list-item:nth-child(even) {
    border-color: tomato;
}

.list-item:nth-child(odd) {
    border-color: blueviolet;
}

.list-item:not(:last-child) {
    margin-bottom: 8px;
}